Crontab de piratesfr :

SHELL=/bin/bash

# Maintenance une fois par jour : votes, karmas, tribunes, sitemap, etc.
1 0 * * *          bundle exec rake -s piratesfr:daily


Crontab de root :

SHELL=/bin/bash
SCRIPTS_DIR=/etc/piratesfr

# traitement des logs et sauvegarde journalière
15 3     * * *     cd ${SCRIPTS_DIR} && ./backup-piratesfr-daily.sh

# sauvegarde hebdo
15 5     * * 0     cd ${SCRIPTS_DIR} && ./backup-piratesfr-weekly.sh

# courbes RRD surveillance serveur
0-59/1 * * * *     cd ${SCRIPTS_DIR} && ./rrd/makestats.sh &>/dev/null

# script abusers
0 *      * * *     cd ${SCRIPTS_DIR} && ./abusers.sh

# extraction des données de webalizer
5 3      1 * *     cd /data/prod/logs/webalizer && ${SCRIPTS_DIR}/webalizer_data.sh
