DATABASE=piratesfr
CONTAINER="xxxx"
USERNAME="xxxx"

PIRATESFR_DIR="/data/${CONTAINER}"
GRAPHS_DIR="${PIRATESFR_DIR}/${USERNAME}/load"
WEBLOGS_DIR="${PIRATESFR_DIR}/logs"
SCRIPTS_DIR="${PIRATESFR_DIR}/${USERNAME}/admin/scripts"
BACKUP_DIR="${PIRATESFR_DIR}/backup"

WEB_DOMAINNAME="${CONTAINER}.piratesfr.org"
WEBALIZER_CONF="/etc/piratesfr/webalizer.conf"
WEBALIZER_INPUT="${WEBLOGS_DIR}/${USERNAME}"
WEBALIZER_OUTPUT="${WEBLOGS_DIR}/webalizer"
